.mapboxgl-ctrl-group{
    
    position: relative;
    right: 40px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
}
.mapboxgl-ctrl-group > .mapboxgl-ctrl-icon {
    width: 25px;
    height: 25px;
}
.mapboxgl-ctrl-group > .mapboxgl-ctrl-icon > button {
    width: 24px !important;
    height: 24px !important;
    border-radius: 25px !important;
}
.mapboxgl-ctrl-compass-arrow {
    margin: 0.1em 2px !important;
}

